* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #5D6063;
  background-color: #EAEDF0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.75;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
}


#description {
  margin-bottom: 10px;
}

.radio-form {
  margin-top: 10px;
  margin-bottom: 15px;
}

#videos {
  margin-bottom: 15px;
}